<div class="jumbotron text-center">
    <h1>The Albums Page</h1>
</div>

<div class="row">


    <div class="col-sm-6">
        <div class="container">
            <h1>Albums</h1>
            <div class="well">

                <div class="row">

                    <table  class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <td>Title</td>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="(k,v) in $ctrl.albums">
                            <td>{{ v.title }}</td>
                            <td>{{ v.id }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>





</div>